# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET

SLACK_BOT_TOKEN=xxx
SLACK_SIGNING_SECRET=123
CHAT_CHANNEL=czitchat
MONGODB_PASSWORD=123
MONGODB_DATABASE=chitczat